<div class="login-box">
    <h2>Login</h2>
    <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="user-box form-group">
            <input type="text" name="email" [(ngModel)]="formData.email"  required>
            <label>Email</label>
            <span *ngIf="isEmailValid()" >Invalid email address</span>
        </div>
        <div class="user-box form-group">
            <input type="password" name="password" [(ngModel)]="formData.password" required>
            <label>Password</label>
            <span *ngIf="isPasswordValid()" >Password length must be at least 6 characters</span>
        </div>
        <a type="submit" >
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit">Login</button>
        </a>
    </form>
</div>